body{
    background-color: black;
}
*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header{
    width: 100%;
    border: 2px solid white;
    /* height: 10vh; */
    padding: 0 9%;
    background-color: black;
}
nav{
    width:100%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 50px 0;
}
.name{
    color: white;
    font-weight: 100;
    font-size: small;
    text-align: left;
    

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}
nav ul li a:hover{
    color:red;
}
.section1{
    margin-left: 8%;
    margin-top: 10%;
    color: white;
}
.section1 h6{

    font-size:55px;
    color:white;
    font-weight: 700;
    margin-bottom: 5px;
}
.section1 h3{

    font-size:20px;
    font-weight: 700;
    color:rgb(216, 216, 216);
    margin-bottom: 5px;
}
.section1 span{
    color: red;
}
.section1 p{
    line-height: 30px;
    color:rgba(146, 146, 146, 0.897);
    
}

.btn-box a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px 18px; 
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin: 20px 0px;
    position: relative; 
    border: 3px;
    border: 3px solid transparent;
    transition: border-color 0.5s;

}
.btn-box a:hover{
    background-color: black;
    color: aliceblue;
    border-color: white;
   
}
.imagee{
    position: absolute;
    right: 3%;
    width: 40%;
    height: 60%;
    bottom: 0px;
} 


.bdy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}

.card {
     margin-bottom: 5px;
    margin: 20px;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(51, 3, 3, 0.8);
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(241, 241, 241, 0.479);
    opacity: 0;
    transition: .5s;
}

.content h2, a {
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
}
.content h2{
    color: black;
    font-weight: 700 bold;
    font-size: xx-large;
}

.card:hover .content {
    opacity: 1;
}

.vertical{
    margin-top: 5%;
    border-left: 5px solid rgba(172, 172, 172, 0.795) ;
    height: 50%;
    left: 12%;
    position: absolute;
    border-radius: 50px;
}
.timeline{
    margin-top: 10%;
    margin: 0, auto;
    max-width: 1000px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: sans-serif;
    color: aliceblue;
}
.timeline_component{
    margin: 10px 10px 20px 20px;
}
.timeline_date--right{
    text-align: right;
}
.timeline_middle{
    position: relative;
    background: rgb(180, 180, 180);
}
.timeline_point{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: rgb(232, 240, 247);
    border-radius: 50%;
}
.timeline_point_bottom{
    top:initial;
    bottom: 0;
}
.timeline_component_bg{
    padding: 3rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    border-radius: 10px; 
}
.timeline_component_bg:hover{
    
    background-image: linear-gradient(315deg, #c2b6b679 0%, #5765746e 74%);
    color: wheat;

}

.timeline_title{
    margin: 0;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
    color: rgba(255, 0, 0, 0.87);
}

.timeline_para{
    font-size: small;
    font-weight: normal;
    line-height: 1.5;
}
.card-container{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 90px;
    font-family: sans-serif;
    
    
}
.card2{
    width: 300px;
    background-color: rgb(175, 175, 175);
     border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 50px;
    
}
.card2 img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 3px;
}
.card-content p{
    font-size: small;
    color: gray;
    line-height: 1.5;
}
.card-content a{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.card-content a:hover{
    background-color: black;
    color: rgb(189, 4, 4);
}